.shadow{
  position: absolute;
  background-color: rgba(0, 0, 0,0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.color{
  color: white;
  z-index: 155555;
}
.colorIcon{
  color: #202040;
}

.colorUser{
  width: 108px;
  height: 108px;
  background-color: #F05454;
  border-radius: 50%;
}
.already {
  display:block;
  margin-left: 5px;
  text-align:center;
  font-size:20px;
  color:rgb(109, 2, 2);
  opacity:0.9;
  text-decoration:none;
}
.already:hover{
  color: tomato;
}
